* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #383838;
}

body {
  background: lightgreen;
  width: 100%;
  height: 100vh;
}

h1 {
  margin-top: 3%;
  text-align: center;
  font-size: 180%;
  margin: 0.5rem 0;
  font-family:monospace;
}

.border {
   background-color: lightblue;
   width:50%;
   height: 75%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 15px;
   box-shadow: 5px 10px 8px #888888;
   text-align: center;
   border: solid black;

}
.begin-screen {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.begin-screen .splash-screen{
  width: 300px;
  height: 360px;
  background: #ffd527;
  position: absolute;
  margin-top: 3%;
}

.begin-screen.hide {
  display: none;
}

.myScore {
  display: none;
}

.myScore.show {
  display: block;
  font-size: 100%;
  margin: 16px 0;
  margin-top: 40%
}

.button {
  text-align: center;
  width: 100%;
  height: 71px;
  margin: 16px 0;
  position: relative;
}

.button button {
  text-transform: uppercase;
  color: black;
  padding: 0.5rem 0.8rem;
  background: salmon;
  border-radius: 8px;
  border: 0;
  cursor: pointer;

}

/* .button button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
} */

/* .button button:focus {
  outline: 0;
} */

.button button.hide {
  opacity: 0;
}

.score-block {
  position: absolute;
  top: 2%;
  right: 2%;
}

.score {
  display: inline-block;
  font-size: 100%;
  background: white;
  border: solid salmon;
  padding: 8px 17px;
  border-radius: 8px;
  /* transition: background 0.2s ease-in-out, transform 0.2s ease-in-out; */
}

/* .score.add {  /*changes the background colour also the font colour when points are added */
  /* transform: scale(1.3); */
  /* opacity: 0.8;
  }
  */

#start_btn{
  margin-left:25%;
  right:50%;
  margin-top:2%;
  width:50%;
  height:50%;
  border: solid salmon;
  pointer: cursor;
}
  /* #back_btn {
    margin-right: 80%;
  } */
#timer {  //* this is for the timer function in the border div */
  text-transform: uppercase;
  color: black;
  padding: 0.5rem 0.8rem;
  background: salmon;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  width: auto;
  text-align: center;

}
.game {
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap; /* this keeps the game in order */
  margin: 0 auto;
  cursor: pointer;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Tools-hammer.svg/2000px-Tools-hammer.svg.png")
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(../img/bush.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  /* z-index: 2; */
  bottom: -30px;
}

.mole {
  background: url('../img/mouse.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.7s;
}

.hole.up .mole {
  top: 0;
}
